.navbar-brand {
    img {
        height: 20px;
    }
}

.btn-lg {
    img {
        height: 25px;
    }
}

.contactus_pre_btn {
    margin: 20% auto;
    width: 150px;
    height: 150px;
    bottom: 30px;
    right: 30px;
    display: flex;
    background-color: #00a3ff;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    animation: pulse 2s infinite;
    cursor: pointer;

    .contactus_pre_btn_icon {
        width: 90px;
        height: 90px;
        background-image: url("/assets/svg/message.svg");
        background-size: cover;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px auto;

    .contactus_box_item_btn {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.contactus_facebook {
            background: #0084ff;
            transform: scale(1);
            animation: pulse-facebook 2s infinite;
            .contactus_item_btn_icon {
                width: 30px;
                height: 30px;
                background-image: url("/assets/svg/messenger.svg");
                background-size: cover;
            }
        }

        &.contactus_whatsapp {
            background: #25d366;
            transform: scale(1);
            animation: pulse-whatsapp 2s infinite;
            .contactus_item_btn_icon {
                width: 30px;
                height: 30px;
                background-image: url("/assets/svg/whatsapp.svg");
                background-size: cover;
            }
        }

        &.contactus_viber {
            background: #8f5db7;
            transform: scale(1);
            animation: pulse-viber 2s infinite;
            .contactus_item_btn_icon {
                width: 30px;
                height: 30px;
                background-image: url("/assets/svg/viber.svg");
                background-size: cover;
            }
        }

        &.contactus_telegram {
            background: #1b9de2;
            transform: scale(1);
            animation: pulse-telegram 2s infinite;
            .contactus_item_btn_icon {
                width: 30px;
                height: 30px;
                background-image: url("/assets/svg/telegram.svg");
                background-size: cover;
            }
        }

        &.contactus_call {
            background: #25d366;
            transform: scale(1);
            animation: pulse-call 2s infinite;
            .contactus_item_btn_icon {
                width: 30px;
                height: 30px;
                background-image: url("/assets/svg/call.svg");
                background-size: cover;
            }
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 163, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 163, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 163, 255, 0);
    }
}

@keyframes pulse-facebook {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 132, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 132, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 132, 255, 0);
    }
}

@keyframes pulse-whatsapp {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(37, 211, 102, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
}

@keyframes pulse-viber {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(143, 93, 183, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(143, 93, 183, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(143, 93, 183, 0);
    }
}

@keyframes pulse-telegram {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(27, 157, 226, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(27, 157, 226, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(27, 157, 226, 0);
    }
}

@keyframes pulse-call {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(37, 211, 102, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
    }
}

.contactus_box_prev {
    margin: 30px 50px;
    width: 240px;
    background: #18222d;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;

    .contactus_box_header {
        height: 32px;
        background: #22303f;
        border-radius: 12px 12px 0px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        .contactus_box_header_title {
            color: #afc0d1;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;

            .active {
                background: #0056b3;
            }
        }
    }

    .contactus_box_item {
        border-top: 1px solid #22303f;
        border-bottom: 1px solid #22303f;
        padding: 12px 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        &:hover {
            background: #294661;
        }
        .active {
            background: #0056b3;
        }

        .contactus_box_item_btn {
            width: 48px;
            height: 48px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &.contactus_facebook {
                background: #0084ff;
                .contactus_item_btn_icon {
                    width: 30px;
                    height: 30px;
                    background-image: url("/assets/svg/messenger.svg");
                    background-size: cover;
                }
            }

            &.contactus_whatsapp {
                background: #25d366;
                .contactus_item_btn_icon {
                    width: 30px;
                    height: 30px;
                    background-image: url("/assets/svg/whatsapp.svg");
                    background-size: cover;
                }
            }

            &.contactus_viber {
                background: #8f5db7;
                .contactus_item_btn_icon {
                    width: 30px;
                    height: 30px;
                    background-image: url("/assets/svg/viber.svg");
                    background-size: cover;
                }
            }

            &.contactus_telegram {
                background: #1b9de2;
                .contactus_item_btn_icon {
                    width: 30px;
                    height: 30px;
                    background-image: url("/assets/svg/telegram.svg");
                    background-size: cover;
                }
            }

            &.contactus_call {
                background: #25d366;
                .contactus_item_btn_icon {
                    width: 30px;
                    height: 30px;
                    background-image: url("/assets/svg/call.svg");
                    background-size: cover;
                }
            }
        }

        .contactus_item_label {
            color: #ffffff;
            text-decoration: none;
            margin-left: 10px;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            .contactus_item_sub_label {
                display: block;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #afc0d1;
            }
        }
    }

    .contactus_box_item:last-child {
        border-bottom: none;
        &:hover {
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }
}
