@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
:root {
  --contactus-bg: #18222d;
  --contactus-header-bg: #22303f;
  --contactus-border: #22303f;
  --contactus-title: #afc0d1;
  --contactus-white: #fff;
  --contactus-facebook: #0084ff;
  --contactus-whatsapp: #25d366;
  --contactus-viber: #8f5db7;
  --contactus-telegram: #1b9de2;
  --contactus-call: #25d366;
  --contactus-btn-bg: #00a3ff;
  --contactus-alert: #EB5757;
}

#contactus {
  font-family: "Roboto", sans-serif;
  z-index: 999999999;
}
#contactus .contactus_box {
  position: fixed;
  z-index: 999999999;
  right: 30px;
  bottom: 110px;
  width: 240px;
  background: var(--contactus-bg);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 0;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0;
}
#contactus .contactus_box.contactus_box_left {
  left: 30px;
}
#contactus .contactus_box.opened {
  visibility: visible;
  opacity: 1;
}
#contactus .contactus_box .contactus_box_header {
  height: 32px;
  background: var(--contactus-header-bg);
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
#contactus .contactus_box .contactus_box_header .contactus_box_header_title {
  color: var(--contactus-title);
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}
#contactus .contactus_box .contactus_box_header .contactus_box_header_logo {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background-image: url(https://contactus.nikba.com/assets/svg/message.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
  transition: opacity 0.2s;
}
#contactus .contactus_box .contactus_box_header .contactus_box_header_logo:hover, #contactus .contactus_box .contactus_box_header .contactus_box_header_logo:focus {
  opacity: 1;
}
#contactus .contactus_box .contactus_box_item {
  border-top: 1px solid var(--contactus-border);
  border-bottom: 1px solid var(--contactus-border);
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: background 0.2s;
}
#contactus .contactus_box .contactus_box_item:hover, #contactus .contactus_box .contactus_box_item:focus {
  background: #294661;
}
#contactus .contactus_box .contactus_box_item .contactus_box_item_btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.2s;
}
#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_facebook {
  background: var(--contactus-facebook);
}
#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_facebook .contactus_item_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url(https://contactus.nikba.com/assets/svg/messenger.svg);
  background-size: cover;
}
#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_whatsapp {
  background: var(--contactus-whatsapp);
}
#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_whatsapp .contactus_item_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url(https://contactus.nikba.com/assets/svg/whatsapp.svg);
  background-size: cover;
}
#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_viber {
  background: var(--contactus-viber);
}
#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_viber .contactus_item_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url(https://contactus.nikba.com/assets/svg/viber.svg);
  background-size: cover;
}
#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_telegram {
  background: var(--contactus-telegram);
}
#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_telegram .contactus_item_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url(https://contactus.nikba.com/assets/svg/telegram.svg);
  background-size: cover;
}
#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_call {
  background: var(--contactus-call);
}
#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_call .contactus_item_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url(https://contactus.nikba.com/assets/svg/call.svg);
  background-size: cover;
}
#contactus .contactus_box .contactus_box_item .contactus_item_label {
  color: var(--contactus-white);
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#contactus .contactus_box .contactus_box_item .contactus_item_label .contactus_item_sub_label {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: var(--contactus-title);
}
#contactus .contactus_box .contactus_box_item:last-child {
  border-bottom: none;
}
#contactus .contactus_box .contactus_box_item:last-child:hover {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
#contactus .contactus_btn {
  position: fixed;
  z-index: 999999999;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  display: flex;
  background-color: var(--contactus-btn-bg);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite;
  cursor: pointer;
  transition: box-shadow 0.2s, background 0.2s;
}
#contactus .contactus_btn.contactus_btn_left {
  left: 30px;
}
#contactus .contactus_btn .contactus_btn_alert {
  position: absolute;
  right: -6px;
  top: -6px;
  background: var(--contactus-alert);
  color: var(--contactus-white);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
}
#contactus .contactus_btn .contactus_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url(https://contactus.nikba.com/assets/svg/message.svg);
  background-size: cover;
  transition: background-image 0.2s;
}
#contactus .contactus_btn:hover, #contactus .contactus_btn:active {
  animation: none;
}
#contactus .contactus_btn.opened {
  animation: none;
}
#contactus .contactus_btn.opened .contactus_btn_icon {
  background-image: url(https://contactus.nikba.com/assets/svg/close.svg);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 163, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 163, 255, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 163, 255, 0);
  }
}

/*# sourceMappingURL=style.css.map */
