@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
#contactus {
  font-family: 'Roboto', sans-serif;
  z-index: 999999999;
}

#contactus .contactus_box {
  position: fixed;
  right: 30px;
  bottom: 110px;
  width: 240px;
  background: #18222D;
  -webkit-box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

#contactus .contactus_box.contactus_box_left {
  left: 30px;
}

#contactus .contactus_box.opened {
  visibility: visible;
  opacity: 1;
}

#contactus .contactus_box .contactus_box_header {
  height: 32px;
  background: #22303F;
  border-radius: 12px 12px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

#contactus .contactus_box .contactus_box_header .contactus_box_header_title {
  color: #AFC0D1;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

#contactus .contactus_box .contactus_box_item {
  border-top: 1px solid #22303F;
  border-bottom: 1px solid #22303F;
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

#contactus .contactus_box .contactus_box_item:hover {
  background: #294661;
}

#contactus .contactus_box .contactus_box_item .contactus_box_item_btn {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_facebook {
  background: #0084FF;
}

#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_facebook .contactus_item_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url("https://contactus.nikba.com/assets/svg/messenger.svg");
  background-size: cover;
}

#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_whatsapp {
  background: #25D366;
}

#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_whatsapp .contactus_item_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url("https://contactus.nikba.com/assets/svg/whatsapp.svg");
  background-size: cover;
}

#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_viber {
  background: #8F5DB7;
}

#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_viber .contactus_item_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url("https://contactus.nikba.com/assets/svg/viber.svg");
  background-size: cover;
}

#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_telegram {
  background: #1B9DE2;
}

#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_telegram .contactus_item_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url("https://contactus.nikba.com/assets/svg/telegram.svg");
  background-size: cover;
}

#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_call {
  background: #25D366;
}

#contactus .contactus_box .contactus_box_item .contactus_box_item_btn.contactus_call .contactus_item_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url("https://contactus.nikba.com/assets/svg/call.svg");
  background-size: cover;
}

#contactus .contactus_box .contactus_box_item .contactus_item_label {
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

#contactus .contactus_box .contactus_box_item .contactus_item_label .contactus_item_sub_label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #AFC0D1;
}

#contactus .contactus_box .contactus_box_item:last-child {
  border-bottom: none;
}

#contactus .contactus_box .contactus_box_item:last-child:hover {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#contactus .contactus_btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00A3FF;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  cursor: pointer;
}

#contactus .contactus_btn.contactus_btn_left {
  left: 30px;
}

#contactus .contactus_btn .contactus_btn_icon {
  width: 30px;
  height: 30px;
  background-image: url("https://contactus.nikba.com/assets/svg/message.svg");
  background-size: cover;
}

#contactus .contactus_btn:hover, #contactus .contactus_btn:active {
  -webkit-animation: none;
          animation: none;
}

#contactus .contactus_btn.opened {
  -webkit-animation: none;
          animation: none;
}

#contactus .contactus_btn.opened .contactus_btn_icon {
  background-image: url("https://contactus.nikba.com/assets/svg/close.svg");
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 163, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 163, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 163, 255, 0);
            box-shadow: 0 0 0 10px rgba(0, 163, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 163, 255, 0);
            box-shadow: 0 0 0 0 rgba(0, 163, 255, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 163, 255, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 163, 255, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 163, 255, 0);
            box-shadow: 0 0 0 10px rgba(0, 163, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 163, 255, 0);
            box-shadow: 0 0 0 0 rgba(0, 163, 255, 0);
  }
}
/*# sourceMappingURL=style.css.map */